### 1.0 Acquiring the Independent data

In [22]:
# importing libraries
import pandas as pd
import geopandas as gpd

# remove warnings
import warnings
warnings.filterwarnings("ignore")

#### 1.1 LSOA_HULL

In [2]:
# Acquiring the lsoa data exported in the first notebook as a shapefile
lsoa_hull = gpd.read_file("lsoa_hull.shp")
lsoa_hull.head()

,LSOA code,lsoa21nm,label,name,Month,Crime ID,geometry
0,E01012765,Kingston upon Hull 005B,E92000001E12000003E06000010E02002656E01012765,Kingston upon Hull 005B,2022-01,2,"POLYGON ((508697.250 433210.219, 508696.976 43..."
1,E01012765,Kingston upon Hull 005B,E92000001E12000003E06000010E02002656E01012765,Kingston upon Hull 005B,2022-07,1,"POLYGON ((508697.250 433210.219, 508696.976 43..."
2,E01012765,Kingston upon Hull 005B,E92000001E12000003E06000010E02002656E01012765,Kingston upon Hull 005B,2022-08,1,"POLYGON ((508697.250 433210.219, 508696.976 43..."
3,E01012765,Kingston upon Hull 005B,E92000001E12000003E06000010E02002656E01012765,Kingston upon Hull 005B,2022-09,1,"POLYGON ((508697.250 433210.219, 508696.976 43..."
4,E01012765,Kingston upon Hull 005B,E92000001E12000003E06000010E02002656E01012765,Kingston upon Hull 005B,2022-10,1,"POLYGON ((508697.250 433210.219, 508696.976 43..."

#### 1.2 CENSUS DATA

In [4]:
# write a function to filter out anything that contains  hull in the LSOA
def filterHull(data):
    data = data[data['Lower layer Super Output Areas'].str.contains('Hull')]
    return data

In [5]:
# acquiring the first census data , run the function to filter then resample due to too much data and visualize
df_census_first = pd.read_csv('./data/poi_4_all/custom-filtered-2024-06-20T09_12_05Z.csv')
df_census_first = filterHull(df_census_first)
df_census_first = df_census_first.sample(frac=0.04, random_state=None)
df_census_first

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Age (6 categories) Code,Age (6 categories),Economic activity status (7 categories) Code,Economic activity status (7 categories),Sex (2 categories) Code,Sex (2 categories),Observation
1024692,E01012842,Kingston upon Hull 021A,5,Aged 50 to 64 years,2,Economically active (excluding full-time stude...,1,Female,1
1027551,E01012879,Kingston upon Hull 003E,5,Aged 50 to 64 years,3,Economically active and a full-time student: I...,2,Male,0
1027948,E01012884,Kingston upon Hull 033C,3,Aged 25 to 34 years,6,Economically inactive and a full-time student,1,Female,4
2810921,E01035469,Kingston upon Hull 034C,3,Aged 25 to 34 years,-8,Does not apply,2,Male,0
1029339,E01012905,Kingston upon Hull 006C,1,Aged 15 years and under,1,Economically active (excluding full-time stude...,2,Male,0
...,...,...,...,...,...,...,...,...,...
1023526,E01012827,Kingston upon Hull 011D,6,Aged 65 years and over,-8,Does not apply,1,Female,0
1029241,E01012903,Kingston upon Hull 022E,6,Aged 65 years and over,1,Economically active (excluding full-time stude...,2,Male,8
1021509,E01012801,Kingston upon Hull 019E,5,Aged 50 to 64 years,6,Economically inactive and a full-time student,2,Male,0
1030479,E01012918,Kingston upon Hull 008G,4,Aged 35 to 49 years,4,Economically active and a full-time student: U...,2,Male,1
1026953,E01012872,Kingston upon Hull 015E,4,Aged 35 to 49 years,5,Economically inactive (excluding full-time stu...,2,Male,20

In [6]:
# acquiring the second census data , then resample due to too much data and visualize
df_census_second = pd.read_csv('./data/poi_4_all/custom-filtered-2024-08-27T18_06_21Z.csv')
df_census_second = df_census_second.sample(frac=0.04, random_state=None)
df_census_second

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Country of birth (13 categories) Code,Country of birth (13 categories),Highest level of qualification (7 categories) Code,Highest level of qualification (7 categories),Observation
4638,E01012825,Kingston upon Hull 010B,12,Antarctica and Oceania (including Australasia),3,Level 3 qualifications: 2 or more A levels or ...,0
12088,E01035472,Kingston upon Hull 035C,10,Middle East and Asia,5,"Other: apprenticeships, vocational or work-rel...",0
10332,E01012912,Kingston upon Hull 006E,7,Europe: Ireland,-8,Does not apply,0
5947,E01012847,Kingston upon Hull 021E,4,Europe: United Kingdom: Wales,3,Level 3 qualifications: 2 or more A levels or ...,0
3136,E01012800,Kingston upon Hull 023C,6,Europe: United Kingdom: United Kingdom not oth...,-8,Does not apply,0
...,...,...,...,...,...,...,...
2830,E01012797,Kingston upon Hull 019C,1,Europe: United Kingdom: England,1,Level 1 and entry level qualifications: 1 to 4...,128
6767,E01012858,Kingston upon Hull 031A,4,Europe: United Kingdom: Wales,4,"Level 4 qualifications or above: degree (BA, B...",0
2309,E01012790,Kingston upon Hull 004D,4,Europe: United Kingdom: Wales,5,"Other: apprenticeships, vocational or work-rel...",0
9418,E01012892,Kingston upon Hull 030D,6,Europe: United Kingdom: United Kingdom not oth...,2,Level 2 qualifications: 5 or more GCSEs (A* to...,0
836,E01012765,Kingston upon Hull 005B,2,Europe: United Kingdom: Northern Ireland,2,Level 2 qualifications: 5 or more GCSEs (A* to...,0

In [7]:
# acquiring the third census data , then resample due to too much data and visualize
df_census_third = pd.read_csv('./data/poi_4_all/custom-filtered-2024-08-27T18_11_02Z.csv')
df_census_third = df_census_third.sample(frac=0.04, random_state=None)
df_census_third

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,General health (4 categories) Code,General health (4 categories),Occupation (former) (11 categories) Code,Occupation (former) (11 categories),Observation
105,E01012758,Kingston upon Hull 018A,1,Very good or good health,6,"6. Caring, leisure and other service occupations",20
5355,E01012884,Kingston upon Hull 033C,2,Fair health,9,9. Elementary occupations,43
4271,E01012859,Kingston upon Hull 030A,-8,Does not apply,3,3. Associate professional and technical occupa...,0
85,E01012757,Kingston upon Hull 025B,3,Bad or very bad health,8,"8. Process, plant and machine operatives",2
1511,E01012791,Kingston upon Hull 014A,1,Very good or good health,4,4. Administrative and secretarial occupations,47
...,...,...,...,...,...,...,...
5123,E01012879,Kingston upon Hull 003E,1,Very good or good health,8,"8. Process, plant and machine operatives",17
611,E01012769,Kingston upon Hull 005D,3,Bad or very bad health,6,"6. Caring, leisure and other service occupations",6
5052,E01012877,Kingston upon Hull 003C,3,Bad or very bad health,3,3. Associate professional and technical occupa...,1
1774,E01012797,Kingston upon Hull 019C,1,Very good or good health,3,3. Associate professional and technical occupa...,10
2027,E01012803,Kingston upon Hull 023E,-8,Does not apply,3,3. Associate professional and technical occupa...,0

In [8]:
# acquiring the fourth census data , then resample due to too much data and visualize
df_census_fourth = pd.read_csv('./data/poi_4_all/custom-filtered-2024-08-27T18_14_34Z.csv')
df_census_fourth = df_census_fourth.sample(frac=0.04, random_state=None)
df_census_fourth

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation
28,E01012758,Kingston upon Hull 018A,1,Not in employment: Worked in the last 12 months,1,Disabled under the Equality Act,12
222,E01012774,Kingston upon Hull 019A,2,Not in employment: Not worked in the last 12 m...,-8,Does not apply,0
1841,E01032595,Kingston upon Hull 033E,1,Not in employment: Worked in the last 12 months,2,Not disabled under the Equality Act,44
1594,E01012898,Kingston upon Hull 017F,3,Not in employment: Never worked,1,Disabled under the Equality Act,127
100,E01012764,Kingston upon Hull 005A,1,Not in employment: Worked in the last 12 months,1,Disabled under the Equality Act,7
...,...,...,...,...,...,...,...
1821,E01012917,Kingston upon Hull 008F,3,Not in employment: Never worked,-8,Does not apply,0
1204,E01012862,Kingston upon Hull 025E,1,Not in employment: Worked in the last 12 months,1,Disabled under the Equality Act,9
1747,E01012911,Kingston upon Hull 007E,2,Not in employment: Not worked in the last 12 m...,1,Disabled under the Equality Act,87
109,E01012765,Kingston upon Hull 005B,-8,Does not apply,1,Disabled under the Equality Act,94
1677,E01012905,Kingston upon Hull 006C,3,Not in employment: Never worked,-8,Does not apply,0

In [9]:
# acquiring the fifth census data , then resample due to too much data and visualize
df_census_fifth = pd.read_csv('./data/poi_4_all/custom-filtered-2024-08-27T18_18_50Z.csv')
df_census_fifth = df_census_fifth.sample(frac=0.04, random_state=None)
df_census_fifth

,Lower layer Super Output Areas Code,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
1763,E01035465,Kingston upon Hull 029G,3,"Living in a couple: Separated, but still marri...",0
603,E01012810,Kingston upon Hull 026D,9,Not living in a couple: Divorced or formerly i...,120
59,E01012761,Kingston upon Hull 015A,4,Living in an opposite-sex couple: Cohabiting,262
662,E01012816,Kingston upon Hull 020A,2,Living in a same-sex couple: Married or in a c...,2
864,E01012837,Kingston upon Hull 010D,6,Not living in a couple: Single (never married ...,374
...,...,...,...,...,...
1114,E01012863,Kingston upon Hull 027C,3,"Living in a couple: Separated, but still marri...",2
255,E01012779,Kingston upon Hull 034A,2,Living in a same-sex couple: Married or in a c...,2
71,E01012762,Kingston upon Hull 018B,5,Living in a same-sex couple: Cohabiting,12
1779,E01035466,Kingston upon Hull 029H,8,Not living in a couple: Separated (including t...,24
144,E01012769,Kingston upon Hull 005D,1,Living in an opposite-sex couple: Married or i...,584

In [10]:
# Merging all the census dataframe together with a key as a join
census_df = pd.merge(df_census_first, df_census_second, on='Lower layer Super Output Areas Code', how='outer')
census_df = pd.merge(census_df, df_census_third, on='Lower layer Super Output Areas Code', how='outer', suffixes=('_df2', '_df3'))
census_df = pd.merge(census_df, df_census_fourth, on='Lower layer Super Output Areas Code', how='outer', suffixes=('_df3', '_df4'))
census_df = pd.merge(census_df, df_census_fifth, on='Lower layer Super Output Areas Code', how='outer', suffixes=('_df4', '_df5'))
census_df

,Lower layer Super Output Areas Code,Lower layer Super Output Areas_x,Age (6 categories) Code,Age (6 categories),Economic activity status (7 categories) Code,Economic activity status (7 categories),Sex (2 categories) Code,Sex (2 categories),Observation_x,Lower layer Super Output Areas_y,...,Lower layer Super Output Areas_df4,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
0,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN
3882,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,3.0,Not in employment: Never worked,2.0,Not disabled under the Equality Act,41.0,NaN,NaN,NaN,NaN
3883,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN
3884,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,3.0,Not in employment: Never worked,2.0,Not disabled under the Equality Act,41.0,NaN,NaN,NaN,NaN
3885,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN

In [11]:
# Keep the first occurrence of each column name and drop duplicates
census_df = census_df.loc[:, ~census_df.columns.duplicated()]
census_df

,Lower layer Super Output Areas Code,Lower layer Super Output Areas_x,Age (6 categories) Code,Age (6 categories),Economic activity status (7 categories) Code,Economic activity status (7 categories),Sex (2 categories) Code,Sex (2 categories),Observation_x,Lower layer Super Output Areas_y,...,Lower layer Super Output Areas_df4,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
0,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E01012756,Kingston upon Hull 025A,2.0,Aged 16 to 24 years,1.0,Economically active (excluding full-time stude...,2.0,Male,26.0,Kingston upon Hull 025A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN
3882,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,3.0,Not in employment: Never worked,2.0,Not disabled under the Equality Act,41.0,NaN,NaN,NaN,NaN
3883,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN
3884,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,3.0,Not in employment: Never worked,2.0,Not disabled under the Equality Act,41.0,NaN,NaN,NaN,NaN
3885,E01035472,Kingston upon Hull 035C,5.0,Aged 50 to 64 years,6.0,Economically inactive and a full-time student,2.0,Male,0.0,Kingston upon Hull 035C,...,Kingston upon Hull 035C,1.0,Not in employment: Worked in the last 12 months,1.0,Disabled under the Equality Act,1.0,NaN,NaN,NaN,NaN

In [12]:
# Check the data types
census_df.dtypes

Lower layer Super Output Areas Code                    object
Lower layer Super Output Areas_x                       object
Age (6 categories) Code                               float64
Age (6 categories)                                     object
Economic activity status (7 categories) Code          float64
Economic activity status (7 categories)                object
Sex (2 categories) Code                               float64
Sex (2 categories)                                     object
Observation_x                                         float64
Lower layer Super Output Areas_y                       object
Country of birth (13 categories) Code                 float64
Country of birth (13 categories)                       object
Highest level of qualification (7 categories) Code    float64
Highest level of qualification (7 categories)          object
Observation_y                                         float64
Lower layer Super Output Areas_df3                     object
General health (4 categories) Code                    float64
General health (4 categories)                          object
Occupation (former) (11 categories) Code              float64
Occupation (former) (11 categories)                    object
Observation_df3                                       float64
Lower layer Super Output Areas_df4                     object
Employment history (4 categories) Code                float64
Employment history (4 categories)                      object
Disability (3 categories) Code                        float64
Disability (3 categories)                              object
Observation_df4                                       float64
Lower layer Super Output Areas                         object
Living arrangements (11 categories) Code              float64
Living arrangements (11 categories)                    object
Observation                                           float64
dtype: object

In [13]:
# Check for missing values across all the columns
census_df.isnull().sum()

Lower layer Super Output Areas Code                      0
Lower layer Super Output Areas_x                        88
Age (6 categories) Code                                 88
Age (6 categories)                                      88
Economic activity status (7 categories) Code            88
Economic activity status (7 categories)                 88
Sex (2 categories) Code                                 88
Sex (2 categories)                                      88
Observation_x                                           88
Lower layer Super Output Areas_y                       337
Country of birth (13 categories) Code                  337
Country of birth (13 categories)                       337
Highest level of qualification (7 categories) Code     337
Highest level of qualification (7 categories)          337
Observation_y                                          337
Lower layer Super Output Areas_df3                     415
General health (4 categories) Code                     415
General health (4 categories)                          415
Occupation (former) (11 categories) Code               415
Occupation (former) (11 categories)                    415
Observation_df3                                        415
Lower layer Super Output Areas_df4                    2298
Employment history (4 categories) Code                2298
Employment history (4 categories)                     2298
Disability (3 categories) Code                        2298
Disability (3 categories)                             2298
Observation_df4                                       2298
Lower layer Super Output Areas                        2335
Living arrangements (11 categories) Code              2335
Living arrangements (11 categories)                   2335
Observation                                           2335
dtype: int64

In [14]:
# dropping some unwanted columns in the dataframe
census_df.drop(["Lower layer Super Output Areas_x" , "Lower layer Super Output Areas_y" , "Lower layer Super Output Areas_df3" , "Lower layer Super Output Areas_df4"] , axis = 1 , inplace = True)

In [15]:
# Check for missing values across all the columns
census_df.isnull().sum()

Lower layer Super Output Areas Code                      0
Age (6 categories) Code                                 88
Age (6 categories)                                      88
Economic activity status (7 categories) Code            88
Economic activity status (7 categories)                 88
Sex (2 categories) Code                                 88
Sex (2 categories)                                      88
Observation_x                                           88
Country of birth (13 categories) Code                  337
Country of birth (13 categories)                       337
Highest level of qualification (7 categories) Code     337
Highest level of qualification (7 categories)          337
Observation_y                                          337
General health (4 categories) Code                     415
General health (4 categories)                          415
Occupation (former) (11 categories) Code               415
Occupation (former) (11 categories)                    415
Observation_df3                                        415
Employment history (4 categories) Code                2298
Employment history (4 categories)                     2298
Disability (3 categories) Code                        2298
Disability (3 categories)                             2298
Observation_df4                                       2298
Lower layer Super Output Areas                        2335
Living arrangements (11 categories) Code              2335
Living arrangements (11 categories)                   2335
Observation                                           2335
dtype: int64

In [16]:
# dropping all na values
census_df = census_df.dropna()
census_df

,Lower layer Super Output Areas Code,Age (6 categories) Code,Age (6 categories),Economic activity status (7 categories) Code,Economic activity status (7 categories),Sex (2 categories) Code,Sex (2 categories),Observation_x,Country of birth (13 categories) Code,Country of birth (13 categories),...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
410,E01012771,1.0,Aged 15 years and under,1.0,Economically active (excluding full-time stude...,2.0,Male,0.0,10.0,Middle East and Asia,...,11.0,-8.0,Does not apply,1.0,Disabled under the Equality Act,81.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
411,E01012771,1.0,Aged 15 years and under,1.0,Economically active (excluding full-time stude...,2.0,Male,0.0,10.0,Middle East and Asia,...,11.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,47.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
412,E01012771,1.0,Aged 15 years and under,1.0,Economically active (excluding full-time stude...,2.0,Male,0.0,10.0,Middle East and Asia,...,11.0,-8.0,Does not apply,1.0,Disabled under the Equality Act,81.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
413,E01012771,1.0,Aged 15 years and under,1.0,Economically active (excluding full-time stude...,2.0,Male,0.0,10.0,Middle East and Asia,...,11.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,47.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
414,E01012771,1.0,Aged 15 years and under,1.0,Economically active (excluding full-time stude...,2.0,Male,0.0,12.0,Antarctica and Oceania (including Australasia),...,11.0,-8.0,Does not apply,1.0,Disabled under the Equality Act,81.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3571,E01032595,1.0,Aged 15 years and under,5.0,Economically inactive (excluding full-time stu...,1.0,Female,0.0,2.0,Europe: United Kingdom: Northern Ireland,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
3572,E01032595,1.0,Aged 15 years and under,5.0,Economically inactive (excluding full-time stu...,1.0,Female,0.0,8.0,Europe: Other Europe,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
3573,E01032595,1.0,Aged 15 years and under,5.0,Economically inactive (excluding full-time stu...,1.0,Female,0.0,8.0,Europe: Other Europe,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
3574,E01032595,1.0,Aged 15 years and under,5.0,Economically inactive (excluding full-time stu...,1.0,Female,0.0,1.0,Europe: United Kingdom: England,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
3575,E01032595,1.0,Aged 15 years and under,5.0,Economically inactive (excluding full-time stu...,1.0,Female,0.0,1.0,Europe: United Kingdom: England,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0

In [17]:
# exporting the census dataframe as census_df
census_df.to_csv("census_df")

#### 1.3 MERGING CENSUS_DF WITH LSOA

In [18]:
#renaming the lsoa code with Lower layer Super Output Areas Code
lsoa_hull.rename({'LSOA code' : 'Lower layer Super Output Areas Code'} , axis = 1 , inplace = True)

In [19]:
# Merging the census data with lsoa data
GDF_LSOA_CENSUS = lsoa_hull.merge(census_df , on = 'Lower layer Super Output Areas Code')
GDF_LSOA_CENSUS = GDF_LSOA_CENSUS.sample(frac=0.8, random_state=None)
GDF_LSOA_CENSUS

,Lower layer Super Output Areas Code,lsoa21nm,label,name,Month,Crime ID,geometry,Age (6 categories) Code,Age (6 categories),Economic activity status (7 categories) Code,...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
2494,E01012805,Kingston upon Hull 026A,E92000001E12000003E06000010E02002677E01012805,Kingston upon Hull 026A,2022-11,4,"POLYGON ((511801.743 430346.607, 511800.252 43...",6.0,Aged 65 years and over,2.0,...,22.0,2.0,Not in employment: Not worked in the last 12 m...,-8.0,Does not apply,0.0,Kingston upon Hull 026A,-8.0,Does not apply,268.0
1213,E01012771,Kingston upon Hull 028B,E92000001E12000003E06000010E02002679E01012771,Kingston upon Hull 028B,2023-06,2,"POLYGON ((505641.220 428703.842, 505643.304 42...",5.0,Aged 50 to 64 years,5.0,...,11.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,47.0,Kingston upon Hull 028B,8.0,Not living in a couple: Separated (including t...,18.0
4963,E01012868,Kingston upon Hull 015B,E92000001E12000003E06000010E02002666E01012868,Kingston upon Hull 015B,2022-06,1,"POLYGON ((508367.315 431495.509, 508369.971 43...",4.0,Aged 35 to 49 years,3.0,...,0.0,2.0,Not in employment: Not worked in the last 12 m...,1.0,Disabled under the Equality Act,123.0,Kingston upon Hull 015B,9.0,Not living in a couple: Divorced or formerly i...,67.0
4030,E01012891,Kingston upon Hull 030C,E92000001E12000003E06000010E02002681E01012891,Kingston upon Hull 030C,2023-06,1,"POLYGON ((507913.969 428688.531, 507926.843 42...",4.0,Aged 35 to 49 years,6.0,...,0.0,2.0,Not in employment: Not worked in the last 12 m...,1.0,Disabled under the Equality Act,172.0,Kingston upon Hull 030C,4.0,Living in an opposite-sex couple: Cohabiting,379.0
3781,E01012891,Kingston upon Hull 030C,E92000001E12000003E06000010E02002681E01012891,Kingston upon Hull 030C,2022-08,1,"POLYGON ((507913.969 428688.531, 507926.843 42...",3.0,Aged 25 to 34 years,3.0,...,0.0,3.0,Not in employment: Never worked,2.0,Not disabled under the Equality Act,210.0,Kingston upon Hull 030C,4.0,Living in an opposite-sex couple: Cohabiting,379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,E01012878,Kingston upon Hull 003D,E92000001E12000003E06000010E02002654E01012878,Kingston upon Hull 003D,2022-09,1,"POLYGON ((506600.000 433772.177, 506613.583 43...",5.0,Aged 50 to 64 years,6.0,...,1.0,1.0,Not in employment: Worked in the last 12 months,-8.0,Does not apply,0.0,Kingston upon Hull 003D,3.0,"Living in a couple: Separated, but still marri...",0.0
3249,E01012792,Kingston upon Hull 014B,E92000001E12000003E06000010E02002665E01012792,Kingston upon Hull 014B,2022-05,1,"POLYGON ((507356.672 431561.748, 507351.772 43...",2.0,Aged 16 to 24 years,6.0,...,27.0,-8.0,Does not apply,2.0,Not disabled under the Equality Act,949.0,Kingston upon Hull 014B,10.0,Not living in a couple: Widowed or surviving p...,64.0
759,E01012878,Kingston upon Hull 003D,E92000001E12000003E06000010E02002654E01012878,Kingston upon Hull 003D,2023-07,1,"POLYGON ((506600.000 433772.177, 506613.583 43...",2.0,Aged 16 to 24 years,3.0,...,154.0,1.0,Not in employment: Worked in the last 12 months,-8.0,Does not apply,0.0,Kingston upon Hull 003D,3.0,"Living in a couple: Separated, but still marri...",0.0
4147,E01012868,Kingston upon Hull 015B,E92000001E12000003E06000010E02002666E01012868,Kingston upon Hull 015B,2022-01,8,"POLYGON ((508367.315 431495.509, 508369.971 43...",1.0,Aged 15 years and under,1.0,...,0.0,2.0,Not in employment: Not worked in the last 12 m...,1.0,Disabled under the Equality Act,123.0,Kingston upon Hull 015B,9.0,Not living in a couple: Divorced or formerly i...,67.0
5570,E01012868,Kingston upon Hull 015B,E92000001E12000003E06000010E02002666E01012868,Kingston upon Hull 015B,2022-09,2,"POLYGON ((508367.315 431495.509, 508369.971 43...",2.0,Aged 16 to 24 years,2.0,...,0.0,-8.0,Does not apply,2.0,Not disabled under the Equality Act,968.0,Kingston upon Hull 015B,5.0,Living in a same-sex couple: Cohabiting,10.0

In [20]:
# checking if the merging has null values
GDF_LSOA_CENSUS.isnull().sum()

Lower layer Super Output Areas Code                   0
lsoa21nm                                              0
label                                                 0
name                                                  0
Month                                                 0
Crime ID                                              0
geometry                                              0
Age (6 categories) Code                               0
Age (6 categories)                                    0
Economic activity status (7 categories) Code          0
Economic activity status (7 categories)               0
Sex (2 categories) Code                               0
Sex (2 categories)                                    0
Observation_x                                         0
Country of birth (13 categories) Code                 0
Country of birth (13 categories)                      0
Highest level of qualification (7 categories) Code    0
Highest level of qualification (7 categories)         0
Observation_y                                         0
General health (4 categories) Code                    0
General health (4 categories)                         0
Occupation (former) (11 categories) Code              0
Occupation (former) (11 categories)                   0
Observation_df3                                       0
Employment history (4 categories) Code                0
Employment history (4 categories)                     0
Disability (3 categories) Code                        0
Disability (3 categories)                             0
Observation_df4                                       0
Lower layer Super Output Areas                        0
Living arrangements (11 categories) Code              0
Living arrangements (11 categories)                   0
Observation                                           0
dtype: int64

#### 1.4 GDF_GRID_500

In [21]:
# acquiring the exported Geodataframe 500m grid data
GDF_GRID_500 = gpd.read_file('GDF_GRID_500.shp')

# Display the first five rows of the GeoDataFrame
GDF_GRID_500.head()

,grid_index,building_c,landuse_co,poi_count,transport_,geometry
0,0kmE460570N410835_1,0.0,0.0,0.0,0.0,"POLYGON ((460320.911 410585.484, 460320.911 41..."
1,0kmE461070N410835_2,0.0,0.0,0.0,0.0,"POLYGON ((460820.911 410585.484, 460820.911 41..."
2,0kmE460570N411335_3,0.0,0.0,0.0,0.0,"POLYGON ((460320.911 411085.484, 460320.911 41..."
3,0kmE461070N411335_4,0.0,0.0,0.0,0.0,"POLYGON ((460820.911 411085.484, 460820.911 41..."
4,0kmE460570N411835_1,0.0,0.0,0.0,0.0,"POLYGON ((460320.911 411585.484, 460320.911 41..."

#### 1.5 MERGING GDF_LSOA_CENSUS X GDF_GRID_500

In [23]:
# merging the GDF_LSOA_CENSUS with  GDF_GRID_500

GDF_GRID_500 = GDF_GRID_500.to_crs(epsg=27700)
GDF_LSOA_CENSUS = GDF_LSOA_CENSUS.to_crs(epsg=27700)

# Join digimap data and  boundary data
GDF_LSOA_CENSUS_500 = gpd.sjoin(GDF_GRID_500 , GDF_LSOA_CENSUS , how="inner", op="intersects")

# Drop the extra columns added by the spatial join
GDF_LSOA_CENSUS_500 = GDF_LSOA_CENSUS_500.drop(columns=['index_right'])

GDF_LSOA_CENSUS_500

,grid_index,building_c,landuse_co,poi_count,transport_,geometry,Lower layer Super Output Areas Code,lsoa21nm,label,name,...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
11858,741kmE504570N427335_3,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",E01032595,Kingston upon Hull 033E,E92000001E12000003E06000010E02006813E01032595,Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",E01032595,Kingston upon Hull 033E,E92000001E12000003E06000010E02006813E01032595,Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",E01032595,Kingston upon Hull 033E,E92000001E12000003E06000010E02006813E01032595,Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",E01032595,Kingston upon Hull 033E,E92000001E12000003E06000010E02006813E01032595,Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",E01032595,Kingston upon Hull 033E,E92000001E12000003E06000010E02006813E01032595,Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14286,892kmE513570N431335_3,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",E01012898,Kingston upon Hull 017F,E92000001E12000003E06000010E02002668E01012898,Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",E01012898,Kingston upon Hull 017F,E92000001E12000003E06000010E02002668E01012898,Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",E01012898,Kingston upon Hull 017F,E92000001E12000003E06000010E02002668E01012898,Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",E01012898,Kingston upon Hull 017F,E92000001E12000003E06000010E02002668E01012898,Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",E01012898,Kingston upon Hull 017F,E92000001E12000003E06000010E02002668E01012898,Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0

In [24]:
# checking the newly merged data with its data types
GDF_LSOA_CENSUS_500.dtypes

grid_index                                              object
building_c                                             float64
landuse_co                                             float64
poi_count                                              float64
transport_                                             float64
geometry                                              geometry
Lower layer Super Output Areas Code                     object
lsoa21nm                                                object
label                                                   object
name                                                    object
Month                                                   object
Crime ID                                                 int64
Age (6 categories) Code                                float64
Age (6 categories)                                      object
Economic activity status (7 categories) Code           float64
Economic activity status (7 categories)                 object
Sex (2 categories) Code                                float64
Sex (2 categories)                                      object
Observation_x                                          float64
Country of birth (13 categories) Code                  float64
Country of birth (13 categories)                        object
Highest level of qualification (7 categories) Code     float64
Highest level of qualification (7 categories)           object
Observation_y                                          float64
General health (4 categories) Code                     float64
General health (4 categories)                           object
Occupation (former) (11 categories) Code               float64
Occupation (former) (11 categories)                     object
Observation_df3                                        float64
Employment history (4 categories) Code                 float64
Employment history (4 categories)                       object
Disability (3 categories) Code                         float64
Disability (3 categories)                               object
Observation_df4                                        float64
Lower layer Super Output Areas                          object
Living arrangements (11 categories) Code               float64
Living arrangements (11 categories)                     object
Observation                                            float64
dtype: object

In [25]:
# List the columns in their desired order
desired_order = ['grid_index', 'Crime ID', 'Month', 'Lower layer Super Output Areas Code']

# Create a list of remaining columns, excluding those already reordered
remaining_columns = [col for col in GDF_LSOA_CENSUS_500.columns if col not in desired_order]

# Combine the desired columns order with the remaining columns
new_column_order = desired_order + remaining_columns

# Reorder the GeoDataFrame based on the new column order
GDF_LSOA_CENSUS_500 = GDF_LSOA_CENSUS_500.reindex(columns=new_column_order)

# Display the first few rows to confirm the new order
GDF_LSOA_CENSUS_500

,grid_index,Crime ID,Month,Lower layer Super Output Areas Code,building_c,landuse_co,poi_count,transport_,geometry,lsoa21nm,...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
11858,741kmE504570N427335_3,1,2023-12,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,1,2022-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,3,2023-10,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14286,892kmE513570N431335_3,4,2023-04,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,2,2023-09,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,1,2022-10,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,1,2023-08,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,2,2023-09,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0

#### 1.6 OVERVIEW OF THE TOTALLY MERGED INDEPENDENT DATAFRAME

In [26]:
# The independent variable that has been spatially analyzed is GDF_LSOA_CENSUS_500
x_data = GDF_LSOA_CENSUS_500
x_data

,grid_index,Crime ID,Month,Lower layer Super Output Areas Code,building_c,landuse_co,poi_count,transport_,geometry,lsoa21nm,...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
11858,741kmE504570N427335_3,1,2023-12,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,1,2022-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,3,2023-10,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14286,892kmE513570N431335_3,4,2023-04,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,2,2023-09,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,1,2022-10,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,1,2023-08,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,2.0,Not in employment: Not worked in the last 12 m...,2.0,Not disabled under the Equality Act,237.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0
14286,892kmE513570N431335_3,2,2023-09,E01012898,152.0,0.0,0.0,0.0,"POLYGON ((513320.911 431085.484, 513320.911 43...",Kingston upon Hull 017F,...,5.0,3.0,Not in employment: Never worked,1.0,Disabled under the Equality Act,127.0,Kingston upon Hull 017F,1.0,Living in an opposite-sex couple: Married or i...,440.0

In [27]:
# Converting the 'Month' column to datetime format
x_data['Month'] = pd.to_datetime(x_data['Month'], format='%Y-%m')
x_data.head()

,grid_index,Crime ID,Month,Lower layer Super Output Areas Code,building_c,landuse_co,poi_count,transport_,geometry,lsoa21nm,...,Observation_df3,Employment history (4 categories) Code,Employment history (4 categories),Disability (3 categories) Code,Disability (3 categories),Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation
11858,741kmE504570N427335_3,1,2023-12-01,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,1,2022-08-01,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,3,2023-10-01,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,0.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08-01,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0
11858,741kmE504570N427335_3,2,2023-08-01,E01032595,0.0,0.0,0.0,0.0,"POLYGON ((504320.911 427085.484, 504320.911 42...",Kingston upon Hull 033E,...,4.0,1.0,Not in employment: Worked in the last 12 months,2.0,Not disabled under the Equality Act,44.0,Kingston upon Hull 033E,2.0,Living in a same-sex couple: Married or in a c...,1.0

In [29]:
# checking for new arranged independent variable
x_data.dtypes

grid_index                                                    object
Crime ID                                                       int64
Month                                                 datetime64[ns]
Lower layer Super Output Areas Code                           object
building_c                                                   float64
landuse_co                                                   float64
poi_count                                                    float64
transport_                                                   float64
geometry                                                    geometry
lsoa21nm                                                      object
label                                                         object
name                                                          object
Age (6 categories) Code                                      float64
Age (6 categories)                                            object
Economic activity status (7 categories) Code                 float64
Economic activity status (7 categories)                       object
Sex (2 categories) Code                                      float64
Sex (2 categories)                                            object
Observation_x                                                float64
Country of birth (13 categories) Code                        float64
Country of birth (13 categories)                              object
Highest level of qualification (7 categories) Code           float64
Highest level of qualification (7 categories)                 object
Observation_y                                                float64
General health (4 categories) Code                           float64
General health (4 categories)                                 object
Occupation (former) (11 categories) Code                     float64
Occupation (former) (11 categories)                           object
Observation_df3                                              float64
Employment history (4 categories) Code                       float64
Employment history (4 categories)                             object
Disability (3 categories) Code                               float64
Disability (3 categories)                                     object
Observation_df4                                              float64
Lower layer Super Output Areas                                object
Living arrangements (11 categories) Code                     float64
Living arrangements (11 categories)                           object
Observation                                                  float64
dtype: object

In [30]:
# export the independent dataframe
x_data.to_csv("x_data.csv")

### 2.0 Importing the Target data

In [31]:
#importing the police data which is the target
y_data = pd.read_csv("./data/all_data/police_df.csv")
y_data

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,2f550856cc5f2cd3f07c4f0ebcea88b7814c90cddcf6e6...,2023-10,Humberside Police,Humberside Police,-0.335230,53.788680,On or near Davidstow Close,E01012785,Kingston upon Hull 002B,Burglary,Investigation complete; no suspect identified,NaN
1,61d5f5d5ea565450d45842194651feb6b1e2a807efc8fe...,2023-10,Humberside Police,Humberside Police,-0.334913,53.794761,On or near Malpas Close,E01012786,Kingston upon Hull 002C,Burglary,Investigation complete; no suspect identified,NaN
2,ab4cc558163d3d121d9648dc1c5004ebefeb458e7fb356...,2023-10,Humberside Police,Humberside Police,-0.321360,53.787408,On or near Hospital,E01012787,Kingston upon Hull 002D,Burglary,Investigation complete; no suspect identified,NaN
3,bd8f8de44b71d53725e8f9777594a081a408e9dfb641e6...,2023-10,Humberside Police,Humberside Police,-0.321537,53.786413,On or near Shopping Area,E01012787,Kingston upon Hull 002D,Burglary,Unable to prosecute suspect,NaN
4,154ee26b921a76ad24fb9c31cc2ede1af6c5cbcaf1386c...,2023-10,Humberside Police,Humberside Police,-0.322720,53.789863,On or near Dalwood Close,E01012787,Kingston upon Hull 002D,Burglary,Investigation complete; no suspect identified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5302,3cb79118e3aa235f7258267111cded17823ba5f5397bbe...,2023-07,Humberside Police,Humberside Police,-0.349460,53.801282,On or near Parish Mews,E01035471,Kingston upon Hull 035B,Burglary,Unable to prosecute suspect,NaN
5303,69c570528a9dc6180f10f291255b5781b321ad8499eab4...,2023-07,Humberside Police,Humberside Police,-0.341493,53.798071,On or near Ferry Meadow Park,E01033105,Kingston upon Hull 035D,Burglary,Investigation complete; no suspect identified,NaN
5304,5f3fb87885adf91d5535a1629963711b0268d5ce56e17b...,2023-07,Humberside Police,Humberside Police,-0.346269,53.794557,On or near Supermarket,E01033105,Kingston upon Hull 035D,Burglary,Investigation complete; no suspect identified,NaN
5305,f3d99fe75dd357c3277fc03aff1d462e70f65a895474e8...,2023-07,Humberside Police,Humberside Police,-0.347889,53.795045,On or near Shopping Area,E01033105,Kingston upon Hull 035D,Burglary,Investigation complete; no suspect identified,NaN
5306,10372458b98db3d0f0d515a7f7382be86625e8619ba6b7...,2023-07,Humberside Police,Humberside Police,-0.342161,53.800013,On or near Saltwell Park,E01033105,Kingston upon Hull 035D,Burglary,Investigation complete; no suspect identified,NaN

In [32]:
# dropping some data 
y_data.drop(["Crime ID", "Month", "Reported by" , "Falls within" , "LSOA name" , "Context"] , axis = 1 , inplace = True)
y_data

,Longitude,Latitude,Location,LSOA code,Crime type,Last outcome category
0,-0.335230,53.788680,On or near Davidstow Close,E01012785,Burglary,Investigation complete; no suspect identified
1,-0.334913,53.794761,On or near Malpas Close,E01012786,Burglary,Investigation complete; no suspect identified
2,-0.321360,53.787408,On or near Hospital,E01012787,Burglary,Investigation complete; no suspect identified
3,-0.321537,53.786413,On or near Shopping Area,E01012787,Burglary,Unable to prosecute suspect
4,-0.322720,53.789863,On or near Dalwood Close,E01012787,Burglary,Investigation complete; no suspect identified
...,...,...,...,...,...,...
5302,-0.349460,53.801282,On or near Parish Mews,E01035471,Burglary,Unable to prosecute suspect
5303,-0.341493,53.798071,On or near Ferry Meadow Park,E01033105,Burglary,Investigation complete; no suspect identified
5304,-0.346269,53.794557,On or near Supermarket,E01033105,Burglary,Investigation complete; no suspect identified
5305,-0.347889,53.795045,On or near Shopping Area,E01033105,Burglary,Investigation complete; no suspect identified
5306,-0.342161,53.800013,On or near Saltwell Park,E01033105,Burglary,Investigation complete; no suspect identified

In [33]:
# renaming the lsoa code column 
y_data.rename({"LSOA code" : "Lower layer Super Output Areas Code"} , axis = 1 , inplace = True)

In [34]:
# overview of the target data
y_data

,Longitude,Latitude,Location,Lower layer Super Output Areas Code,Crime type,Last outcome category
0,-0.335230,53.788680,On or near Davidstow Close,E01012785,Burglary,Investigation complete; no suspect identified
1,-0.334913,53.794761,On or near Malpas Close,E01012786,Burglary,Investigation complete; no suspect identified
2,-0.321360,53.787408,On or near Hospital,E01012787,Burglary,Investigation complete; no suspect identified
3,-0.321537,53.786413,On or near Shopping Area,E01012787,Burglary,Unable to prosecute suspect
4,-0.322720,53.789863,On or near Dalwood Close,E01012787,Burglary,Investigation complete; no suspect identified
...,...,...,...,...,...,...
5302,-0.349460,53.801282,On or near Parish Mews,E01035471,Burglary,Unable to prosecute suspect
5303,-0.341493,53.798071,On or near Ferry Meadow Park,E01033105,Burglary,Investigation complete; no suspect identified
5304,-0.346269,53.794557,On or near Supermarket,E01033105,Burglary,Investigation complete; no suspect identified
5305,-0.347889,53.795045,On or near Shopping Area,E01033105,Burglary,Investigation complete; no suspect identified
5306,-0.342161,53.800013,On or near Saltwell Park,E01033105,Burglary,Investigation complete; no suspect identified

### 3.0 Merging them as a single data for crime data

In [35]:
# merging both the independent data with dependent data
crime_df = x_data.merge(y_data ,  on = 'Lower layer Super Output Areas Code')
crime_df = crime_df.sample(frac=0.2, random_state=None)
crime_df

,grid_index,Crime ID,Month,Lower layer Super Output Areas Code,building_c,landuse_co,poi_count,transport_,geometry,lsoa21nm,...,Observation_df4,Lower layer Super Output Areas,Living arrangements (11 categories) Code,Living arrangements (11 categories),Observation,Longitude,Latitude,Location,Crime type,Last outcome category
1219697,859kmE511570N430335_3,2,2023-02-01,E01012805,240.0,0.0,0.0,0.0,"POLYGON ((511320.911 430085.484, 511320.911 43...",Kingston upon Hull 026A,...,0.0,Kingston upon Hull 026A,-8.0,Does not apply,268.0,-0.309250,53.751083,On or near Arundel Street,Burglary,Investigation complete; no suspect identified
651549,808kmE508570N427835_1,4,2022-03-01,E01012891,100.0,0.0,0.0,0.0,"POLYGON ((508320.911 427585.484, 508320.911 42...",Kingston upon Hull 030C,...,172.0,Kingston upon Hull 030C,4.0,Living in an opposite-sex couple: Cohabiting,379.0,-0.359375,53.738656,On or near Beech Close,Burglary,Investigation complete; no suspect identified
711480,809kmE508570N430835_1,2,2022-09-01,E01012868,174.0,0.0,0.0,0.0,"POLYGON ((508320.911 430585.484, 508320.911 43...",Kingston upon Hull 015B,...,123.0,Kingston upon Hull 015B,9.0,Not living in a couple: Divorced or formerly i...,67.0,-0.358164,53.765058,On or near Gouldesborough Court,Burglary,Unable to prosecute suspect
1106182,859kmE511570N429835_1,2,2023-02-01,E01012805,64.0,0.0,0.0,0.0,"POLYGON ((511320.911 429585.484, 511320.911 43...",Kingston upon Hull 026A,...,0.0,Kingston upon Hull 026A,-8.0,Does not apply,268.0,-0.313728,53.753155,On or near,Burglary,Court result unavailable
169600,776kmE507070N432835_2,1,2022-09-01,E01012878,746.0,0.0,0.0,0.0,"POLYGON ((506820.911 432585.484, 506820.911 43...",Kingston upon Hull 003D,...,0.0,Kingston upon Hull 003D,3.0,"Living in a couple: Separated, but still marri...",0.0,-0.385555,53.788227,On or near Milldane,Burglary,Investigation complete; no suspect identified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435930,792kmE508070N430835_2,1,2022-08-01,E01012868,1218.0,0.0,0.0,0.0,"POLYGON ((507820.911 430585.484, 507820.911 43...",Kingston upon Hull 015B,...,968.0,Kingston upon Hull 015B,9.0,Not living in a couple: Divorced or formerly i...,67.0,-0.357159,53.766690,On or near Hardy Street,Burglary,Investigation complete; no suspect identified
475194,792kmE507570N431335_3,1,2023-02-01,E01012792,169.0,0.0,0.0,0.0,"POLYGON ((507320.911 431085.484, 507320.911 43...",Kingston upon Hull 014B,...,949.0,Kingston upon Hull 014B,10.0,Not living in a couple: Widowed or surviving p...,64.0,-0.385386,53.768502,On or near Fairfield Road,Burglary,Unable to prosecute suspect
1119525,859kmE511570N429835_1,1,2022-09-01,E01012805,64.0,0.0,0.0,0.0,"POLYGON ((511320.911 429585.484, 511320.911 43...",Kingston upon Hull 026A,...,0.0,Kingston upon Hull 026A,-8.0,Does not apply,268.0,-0.312517,53.753584,On or near Balfour Street,Burglary,Investigation complete; no suspect identified
209890,791kmE507570N427835_1,1,2023-02-01,E01012893,29.0,0.0,0.0,0.0,"POLYGON ((507320.911 427585.484, 507320.911 42...",Kingston upon Hull 030E,...,69.0,Kingston upon Hull 030E,-8.0,Does not apply,396.0,-0.373919,53.740140,On or near Farnella Close,Burglary,Investigation complete; no suspect identified
811697,809kmE508570N430835_1,2,2023-08-01,E01012868,174.0,0.0,0.0,0.0,"POLYGON ((508320.911 430585.484, 508320.911 43...",Kingston upon Hull 015B,...,123.0,Kingston upon Hull 015B,5.0,Living in a same-sex couple: Cohabiting,10.0,-0.359598,53.768341,On or near The Newlands,Burglary,Unable to prosecute suspect

### 4.0 Exporting the crime data

In [36]:
# exporting the total crime dataframe after preprocessing
crime_df.to_csv("crime_df.csv")

# THE MODELLING OPERATION CONTINUES ON THE MODELLING NOTEBOOK CHECK IT OUT!!!!